.people-widget h1 {
	text-align: left !important;
	}

.people-widget .portrait-title h2 {
	font-weight: bold;
	}

.people-widget .portrait-title h3 {
	font-size: 0.8rem !important;
	}

@media (min-width: 992px) {
	.people-widget .col-sm-auto {
		width: 25% !important;
		}
	}