.people-widget .portrait-title h2 {
	font-weight: bold;
	}

.people-widget .portrait-title h3 {
	font-size: 0.8rem !important;
	}
		
.people-widget .avatar {
	width: 100%;
	max-width: 200px;
	height: auto;
	border-radius: 50%;
	}

.people-widget .mb-4 {
	display: none;
	}

@media (min-width: 992px) {
	.people-widget .col-sm-auto {
		width: 30% !important;
		}
	}
	
.people-widget h2 a {
	color: #151515;
	}
	

.people-widget h2 a:hover {
	color: #2962ff;
	text-decoration: none;
	}
	
.nav-link {
	font-size: $font-size-base;
	}
